body {
  background-color: #0e0e0e;
  color: whitesmoke;
  font-family: Poppins;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
}
.movies {
  display: grid;
  justify-content: center;
}
.card {
  width: 300px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 30px;
  cursor: pointer;
}
.card > img {
  width: 300px;
}
.menu {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.menu > h3 {
  padding: 10px;
  margin: 30px 5px;
  background-color: #00a3ff;
  border-radius: 10px;
}
.right-side-data {
  display: flex;
  justify-content: center;
}
.right-side-data > img {
  padding: 0px 5px;
  height: 100%;
}
@media only screen and (min-width: 720px) {
  .movies {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
    gap: 40px 10px;
    justify-content: space-around;
  }
  .logo {
    margin: 0;
    display: flex;
    align-items: center;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 40px 50px;
    padding: 10px;
  }
}

@media only screen and (min-width: 1000px) {
  .movies {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    gap: 40px 10px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 40px 50px;
  }
}
@media only screen and (min-width: 1450px) {
  .movies {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 40px 10px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 40px 50px;
  }
}
